{% extends "master_account.html" %}
{% block content %} 
<div class="col-lg-8 d-flex flex-column">
	<div class="row flex-grow">
	  <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
		<div class="card card-rounded">
		  <div class="card-body">
			<div class="d-sm-flex justify-content-between align-items-start">
			  <div>
			   <h4 class="card-title card-title-dash">Performance Line Chart</h4>
			  </div>
			  <div id="performance-line-legend"><div class="chartjs-legend"><ul><li><span style="background-color:#1F3BB3"></span>This week</li><li><span style="background-color:#52CDFF"></span>Last week</li></ul></div></div>
			</div>
			<div class="chartjs-wrapper mt-5"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
			  <canvas id="performaneLine" style="display: block; height: 150px; width: 812px;" width="1015" height="187" class="chartjs-render-monitor"></canvas>
			</div>
		  </div>
		</div>
	  </div>
	</div>
</div>

<div class="row flex-grow">
	<div class="col-12 grid-margin stretch-card">
	<div class="card card-rounded">
	  <div class="card-body">
		<div class="d-sm-flex justify-content-between align-items-start">
		  <div>
			<h4 class="card-title card-title-dash">Stock Market Overview</h4>
		  </div>
		  <div>
			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> This month </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
				<h6 class="dropdown-header">Settings</h6>
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="d-sm-flex align-items-center mt-1 justify-content-between">
		  <div class="d-sm-flex align-items-center mt-4 justify-content-between"><h2 class="me-2 fw-bold">$36,2531.00</h2><h4 class="me-2">USD</h4><h4 class="text-success">(+1.37%)</h4></div>
		  <div class="me-3"><div id="marketing-overview-legend"><div class="chartjs-legend"><ul><li class="text-muted text-small"><span style="background-color:#52CDFF"></span>Last week</li><li class="text-muted text-small"><span style="background-color:#1F3BB3"></span>This week</li></ul></div></div></div>
		</div>
		<div class="chartjs-bar-wrapper mt-3"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
		  <canvas id="marketingOverview" style="display: block; height: 150px; width: 812px;" width="1015" height="187" class="chartjs-render-monitor"></canvas>
		</div>
	  </div>
	</div>
	</div>
</div>
{% endblock %}	